body {
    background-color: #131313;
    padding: 0;
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}

#content {
    width: 1200px;
    max-width: calc(100vw - 60px);
    margin: 0 auto;
}

::selection {
    background: rgba(255, 255, 255, 0.25);
}

#hero {
    position: relative;
    width: 100%;
    height: 750px;
    background: url("./hero-edited.jpg");
    background-size: cover;
    background-position: center center;
}

@media (max-width: 900px) {
    #hero {
        height: 600px;
    }
}

#hero-unedited {
    background: url("./hero-unedited.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: reveal infinite 5s ease-in-out alternate-reverse;
    transition: clip-path;
    transition-duration: 0.2s;
}
@keyframes reveal {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

#icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    max-width: 40vw;
    max-height: 40vw;
}

#hero-gradient {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 25%;
    width: 100%;
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0) 100%);
}

#logo-container {
    position: relative;
    transform: translateY(-50%);
    text-align: center;
}

#logo {
    width: calc(100vw - 100px);
    max-width: 420px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    max-width: 800px;
    letter-spacing: 0.02em;
    margin: 60px auto;
}

.intro h1 {
    margin: 54px auto 108px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
}

.intro {
    margin-bottom: 150px;
}

.intro p {
    text-align: center;
    font-size: 24px;
    max-width: 540px;
    margin: 0 auto 48px;
    letter-spacing: 0.02em;
}

p {
    margin-bottom: 40px;
}

a {
    color: white;
    text-decoration: underline;
}

@media (max-width: 900px) {
    h1 {
        font-size: 28px;
    }
    h2, h3 {
        font-size: 26px;
    }
    .intro p {
        font-size: 21px;
    }
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    text-align: center;
}

@media (min-width: 700px) {
    .featured-group {
        display: flex;
    }
    .featured-group > div {
        text-align: center;
        width: 175px;
        margin: 0 40px;
    }
}

.featured-group > div {
    margin-bottom: 40px;
    align-self: center;
}

.featured-group img {
    width: 35px;
    align-self: center;
}

.featured-title {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .featured-title {
        font-size: 22px;
    }
}

.featured-highlight {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

.features {
    position: relative;
}

.feature {
    margin: 100px 0;
}

@media (min-width: 700px) {
    .feature {
        display: flex;
    }
    .feature-left, .feature-right {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .feature-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

.feature-left {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-end;
    text-align: right;
}

.feature-right {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    text-align: left;
}

.feature-description {
    max-width: 75%;
    margin: 50px 0;
}

.feature-left .feature-description {
    padding-right: 30px;
}

.feature-right .feature-description {
    padding-left: 30px;
}

.feature-preview {
    will-change: transform;
    position: relative;
    background-color: #131313;
    z-index: 1000;
    width: 400px;
    max-width: calc(100vw - 120px);
    aspect-ratio: 5/9;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.8);
    align-self: center;
}

.cta {
    text-align: center;
    margin-bottom: 200px;
}

#feature-preview1 {
    background-image: url("./preview1-bottom.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
.feature-preview-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 68%;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.2s ease-in-out;
}
#preview1-image {
    background-image: url("./preview1-1.jpg");
    height: 68%;
}
#preview1-presets {
    position: absolute;
    background-image: url("./preview1-presets.png");
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
    top: 73%;
    left: -12.5%;
    width: 125%;
    aspect-ratio: 1000/173;
    image-rendering: crisp-edges;
}
#feature-preview2 {
    background-image: url("./preview2-bottom.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
#preview2-image {
    background-image: url("./preview2-image.jpg");
    height: 60%;
}
#preview2-tool {
    position: absolute;
    background-image: url("./preview2-1.jpg");
    background-size: 100% 100%;
    bottom: 10%;
    width: 100%;
    aspect-ratio: 1000/547;
    image-rendering: crisp-edges;
    transition: background-image 0.2s ease-in-out;
}
#feature-preview3 {
    background-image: url("./preview3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#preview3-image {
    background-image: url("./preview3.gif");
    height: 70%;
    top: 10%;
}
#feature-preview4{
    background-image: url("./preview4-bottom.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
}
#preview4-image {
    background-image: url("./preview4.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 66%;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: zoomIn;
}
#preview4-thumbnails {
    position: absolute;
    background-image: url("./preview4-thumbnails.png");
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
    bottom: 7.5%;
    left: -7.5%;
    width: 115%;
    aspect-ratio: 1000/173;
}
@keyframes zoomIn {
    from {
        background-size: 100% auto;
    }
    to {
        background-size: 125% auto;
    }
}

.reveal {
    position: relative;
    opacity: 1;
    transition: 1.5s opacity ease-in-out;
}
.reveal.hidden {
    opacity: 0;
}

footer {
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    margin-top: 100px;
    margin-bottom: 50px;
}

footer a {
    text-decoration: none;
}

footer span {
    margin: 0 8px;
}

#hashtag img {
    width: 280px;
    max-width: calc(100vw - 200px);
    height: auto;
}

#hashtag {
    margin: 50px 0;
}

#ig, #fb, #tw {
    display: inline;
    margin: 6px;
}

#ig img, #fb img, #tw img {
    width: 30px;
    height: 30px;
}

#articles {
    padding-top: 40px;
    font-size: 16px;
    text-align: center;
    text-align: center;
}
#articles p {
    padding: 8px 0;
}
#articles .title {
    font-size: 20px;
}
.fb-like {
    display: block !important;
}

#feedback {
    font-size: 16px;
    margin-bottom: 80px;
}

#feedback img {
    max-width: 100%;
}

h4 {
    padding-top: 20px;
    font-size: 18px;
}

#privacy-policy {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
}
#privacy-policy h1, #privacy-policy h2 {
    text-align: left;
    margin: 15px 0;
    font-weight: bold;
    max-width: none;
}
#privacy-policy a {
    text-decoration: underline;
}

#trailer {
    margin: 150px 0;
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
    z-index: 10;
}
#trailer-iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#qr-code {
    margin: 60px 0;
}
#qr-code img {
    max-width: 200px;
    height: auto;
}

@media (max-width: 900px) {
    #trailer {
        padding-bottom: 0;
        height: 600px;
        max-height: 160vw;
        background-image: url("ultralight.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
        margin: 80px auto;
    }
    #trailer-iframe {
        width: 88%;
        height: 144vw;
        margin: 25% 6% 0;
    }
    #qr-code {
        display: none;
    }
}